body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.set {
  margin: 10% auto; 
}

.drum {
  outline: none;
  border-radius: 15px; 
  display: inline-block; 
  width: 150px; 
  height: 150px; 
  margin: 10px; 
  border-width: 5px; 
  border-style: solid; 
  border-color: #404B69;
  font-size: 5rem; 
  font-family: 'Arvo', cursive; 
  line-height: 2; 
  font-weight: 900; 
  color: #DA0463; 
  text-shadow: 3px 0 #DBEDF3; 
  background-color: white;
}

.w { background-image: url('images/fiftyshadesofgrey.jpg'); }
.a { background-image: url('images/tuchaiye.jpg'); }
.s { background-image: url('images/bulleya.jpg'); }
.d { background-image: url('images/shubh.jpeg'); }
.j { background-image: url('images/krsna.jpg'); }
.k { background-image: url('images/diljit.webp'); }
.l { background-image: url('images/ranjhana.jpg'); }

.drum {
 background-size: cover;
 background-repeat: no-repeat; 
 background-position: center; 
}

.pressed {
 box-shadow: 0 3px 4px 0 #DBEDF3; 
 opacity: 0.5;
 transition: opacity 0.1s ease, box-shadow 0.1s ease; 
}
